.Root {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 calc(var(--toast-height) * .5);
    height: var(--toast-height);
    line-height: var(--toast-height);
    border-radius: var(--input-border-radius);
    background: #666;
    color: #fff;
    text-align: center;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    max-width: calc(100vw - 20px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
