.Root {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.Empty {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    padding: var(--page-padding);
    overflow: hidden;
}

.Row {
    display: flex;
    align-items: center;
    padding: 0 14px;
    line-height: var(--header-height);
    height: var(--header-height);
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.Row:hover {
    background: rgba(0, 0, 0, .06);
}

.Row:active {
    background: rgba(0, 0, 0, .1);
}

.Row + .Row::before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, .06);
    top: 0;
    left: 14px;
    right: 14px;
    height: 1px;
}

.Title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.Icon {
    width: 24px;
    height: 24px;
    margin-right: 14px;
    flex-shrink: 0;
}

.Label {
    color: #fff;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    background: #777;
    border-radius: 3px;
    font-weight: 500;
    font-size: 10px;
    margin-right: 14px;
    text-transform: uppercase;
}

/* for desktop */
@media (min-width: 840px) {
    .Row:active,
    .RowSelected,
    .RowSelected:hover {
        background: var(--bg-color);
    }

    .Row:hover::before,
    .Row:hover + .Row::before,
    .RowSelected::before,
    .RowSelected + .Row::before {
        display: none;
    }
}
